@model IEnumerable<ZdflCount.Models.ErrorInfo>

@{
    ViewBag.Title = "系统管理";
}

<h2>系统管理<font color="red">（慎用）</font></h2>

 <div class="error-message">@ViewData["error"]</div>

@if (!(bool)ViewData["ServerStatus"])
{
    using (Html.BeginForm("StartServer", "Manage"))
    {
        <input class="button-large button-pill button-highlight" value="启动服务器" type="submit"/>
    }
}
else
{
    using (Html.BeginForm("StopServer", "Manage"))
    {
        <input class="button-large button-pill button-highlight" value="关闭服务器" type="submit"/>
    }
    <div class="block-status">
        服务器正常
    </div>   
}

<h2>异常日志</h2>  
<table id="tableOrder"  border="1"  width="100%" > 
    <thead>   
        <th>@Html.DisplayNameFor(model => model.HappenTime)</th>
        <th>@Html.DisplayNameFor(model => model.ErrorType)</th>
        <th>@Html.DisplayNameFor(model => model.userID)</th>  
        <th>@Html.DisplayNameFor(model => model.ErrorSource)</th>
        <th>@Html.DisplayNameFor(model => model.ErrorMsg)</th>
        <th>@Html.DisplayNameFor(model => model.Remark)</th>  

    </thead>   
    @foreach (var item in Model) 
    {
         <tr> 
             <td>@Html.DisplayFor(modelItem => item.HappenTime)</td> 
             <td>@Html.DisplayEnumDescription("App_Start.enumSystemErrorCode",(int)item.ErrorType)</td>  
             <td>@Html.DisplayFor(modelItem => item.userID)</td> 
             <td>@Html.DisplayFor(modelItem => item.ErrorSource)</td> 
             <td>@Html.DisplayFor(modelItem => item.ErrorMsg)</td> 
             <td>@Html.DisplayFor(modelItem => item.Remark)</td> 
         </tr>   
    }                     
</table>