@model ZdflCount.Models.StatisticInfo    
@{
    ViewBag.Title = "统计列表";
}

<h2>生产统计数据</h2>

<div>

    @Html.TextBox("userNumber","", new {placeholder="请输入员工工号" })
    @Html.TextBox("userName","", new {placeholder="请输入员工姓名" })
    @Html.TextBox("machine","", new {placeholder="请输入机器编号" })    
    @Html.TextBox("order","", new {placeholder="请输入订单号" })
@*    @Html.TextBox("room","", new {placeholder="请选择车间" })*@
    @Html.Action("RoomsDownList")

    <div>
        开始日期：<input type="date" id="startDate"  />
        结束日期：<input type="date" id="endDate"/>
    </div>
    <button class="statistic-btn-query"> 查询</button>
    <fieldset style="width: 770px; text-align: center;">
        <legend style="font-weight: bold;">显示设置</legend>
        水平坐标内容：
        <select id="horizon" style="margin-right: 70px;">
            <option value="staff">员工</option>
            <option value="machine">机器</option>
            <option value="order">订单</option>
            <option value="room">车间</option>
            <option value="factory">工厂</option>
        </select>
        纵向坐标：
        <select id="vertical" style="margin-right: 70px;">
            <option value="已完成数量" >已完成数量</option>
            <option  value="异常数量">异常数量</option>
        </select>
        图表形式：
        <select id="chart">
            <option value="bar">柱状图</option>
            <option value="line">折线图</option>
            <option value="pie">饼图</option>
        </select>
    </fieldset>
</div>

<div id="mainChartBlock" class="block-structure-outline chart-module"></div>

<script src="~/Scripts/echarts.min.js"></script>
<script src="/Scripts/jquery-1.7.1.js"></script>
<script src="/Scripts/chart.js"></script>