@model ZdflCount.Models.ScheduleOrder

@{
    ViewBag.Title = "新建施工单";
    var checkName = "";
}

<h2>@ViewBag.Title</h2>

<script >
    function CheckProductCount(createForm) {
        var t = document.getElementById('orderCount').innerHTML;
        var c = createForm.Schedules_ProductCount.value;
        if (Number(t) < Number(c)) {
            window.alert("分派数量超过订单剩余总数");
            return false;
        }
        return true;
    }
</script>

@Html.Partial("_OrderCountPartial")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>输入施工单信息</legend>
        
        @Html.Hidden("Schedules.OrderId", Model.Orders.OrderId)
        <input id="temporary" type="hidden" value="2">

        <div class="error-message-ur-fieldset error-message">@ViewData["error"]</div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.CreatorName)
        </div>
        <div class="editor-field">
            ：@ViewData["CreatorName"]
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.ProductInfo)
        </div>
        <div class="editor-field">
            ：@Html.DisplayFor(model => model.Orders.ProductInfo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.MaterialInfo)
        </div>
        <div class="editor-field">
            <br />
            @foreach (KeyValuePair<int, string> strItem in Model.MaterialList)
            {
                @:<div class="child-indent">
                    checkName = "cm" + strItem.Key.ToString();
                    @Html.CheckBox(checkName, true)    
                    @strItem.Value
//                    @Html.Label(strItem.Value, new { @for = checkName, @class = "checkbox-label" })
                @:</div>
            }
        </div>   

        <div class="editor-label">
             @Html.LabelFor(model => model.Schedules.MachineName)
        </div>
        <div class="editor-field">
           ： @Html.DropDownList("machine", @Model.MachineList)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.ProductCount)
        </div>
        <div class="editor-field">
           ： @Html.EditorFor(model => model.Schedules.ProductCount)
            @Html.ValidationMessageFor(model => model.Schedules.ProductCount)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.UpContinueCount)
        </div>
        <div class="editor-field">
           ： @Html.TextBoxFor(model => model.Schedules.UpContinueCount, new { @Value = Model.Orders.UpContinueCount })
            @Html.ValidationMessageFor(model => model.Schedules.UpContinueCount)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.DownContinueCount)
        </div>
        <div class="editor-field">
           ： @Html.TextBoxFor(model => model.Schedules.DownContinueCount, new { @Value = Model.Orders.DownContinueCount })
            @Html.ValidationMessageFor(model => model.Schedules.DownContinueCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.DetailInfo)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Schedules.DetailInfo, new { rows = "8", style = "width:99%", @Value = Model.Orders.DetailInfo })
        </div>        

        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.NoticeInfo)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Schedules.NoticeInfo, new { rows = "8", style = "width:99%", @Value = Model.Orders.NoticeInfo })
        </div>
        <p>
            <input type="submit" value="保存新施工单" onclick="return CheckProductCount(this.form)" />
            <input type="checkbox" value="1" name="temporary" />保存为草稿
        </p>
    </fieldset>
}

<script>
    document.getElementById("Schedules_DetailInfo").value = document.getElementById("Schedules_DetailInfo").attributes["value"].value;
    document.getElementById("Schedules_NoticeInfo").value = document.getElementById("Schedules_NoticeInfo").attributes["value"].value;
</script>
<div class="left-outof-table">
    @Html.ActionLink("返回施工单列表", "Index", new { id = Model.Orders.OrderId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/alertWarnning")
}