@model ZdflCount.Models.ScheduleOrder

@{
    ViewBag.Title = "新建施工单";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_OrderCountPartial")

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Schedules</legend>
        
        @Html.Hidden("Schedules.OrderId",Model.Orders.OrderId)
        @Html.Hidden("Schedules.OrderNumber",Model.Orders.OrderNumber)

        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.CreatorID)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Schedules.CreatorID)
            @Html.ValidationMessageFor(model => model.Schedules.CreatorID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.ProductCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Schedules.ProductCount)
            @Html.ValidationMessageFor(model => model.Schedules.ProductCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.DetailInfo)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Schedules.DetailInfo, new { rows = "8", style = "width:99%" })
        </div>        

        <div class="editor-label">
            @Html.LabelFor(model => model.Schedules.NoticeInfo)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Schedules.NoticeInfo, new { rows = "8", style = "width:99%" })
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回列表页", "Index")
    @Html.ActionLink("返回列表页", "Index",  new {id = Model.Orders.OrderId})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
