@model ZdflCount.Models.Schedules

@{
    ViewBag.Title = "删除施工单";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ScheduleModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatorID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatorID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FinishCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinishCount)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("返回列表页", "Index")
    </p>
}
