@model ZdflCount.Models.Schedules

@{
    ViewBag.Title = "关闭施工单";
}

<h2>@ViewBag.Title</h2>

<h3 class="normal-margin">确定要关闭当前施工单吗?</h3>
<fieldset>
    <legend>施工单详细信息</legend>

    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderNumber)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderNumber)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)：
    </div>
    <div class="display-field">
        @Html.DisplayEnumDescription("Models.enumStatus",(int)@Model.Status)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.MachineName)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MachineName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateLastUpdate)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateLastUpdate)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatorName)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatorName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdatePersonName)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdatePersonName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductCount)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FinishCount)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinishCount)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DetailInfo)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DetailInfo)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoticeInfo)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoticeInfo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <div class="left-outof-table">
        @Html.ActionLink("返回施工单列表", "Index",  new {id = Model.OrderId})
    </div>
    <input type="submit" value="执行关闭" class="right-outof-warning-button"/>
}
