@model ZdflCount.Models.Schedules

@{
    ViewBag.Title = "施工单详情";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>详细信息</legend>

    @if(@Model.Status == ZdflCount.Models.enumStatus.Unhandle){
        using (Html.BeginForm("Assign","Schedule",new {id=Model.ID},FormMethod.Post,null)) {
            <input class="right-within-handler-button" value="下派施工单" type="submit"/>
        }
    }
        
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderNumber)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderNumber)
    </div>
    
    <div class="error-message-ur-fieldset error-message">@ViewData["error"]</div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)：
    </div>
    <div class="display-field">
        @Html.DisplayEnumDescription("Models.enumStatus",(int)@Model.Status)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.MachineName)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MachineName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateLastUpdate)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateLastUpdate)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatorName)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatorName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdatePersonName)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdatePersonName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductCount)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductCount)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FinishCount)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinishCount)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DetailInfo)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DetailInfo)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoticeInfo)：
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoticeInfo)
    </div>
</fieldset>
<div class="left-outof-table">
    @Html.ActionLink("修改", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("返回施工单列表", "Index", new { id=Model.OrderId })
</div>
