@model ZdflCount.Models.Schedules

@{
    ViewBag.Title = "施工单详情";
}

<h2>@ViewBag.Title</h2>
<div style="text-align: right;">
    @Html.ActionLink("订单列表", "Index","Order")
</div>

<fieldset>
    <legend>详细信息</legend>

    @if(@Model.Status == ZdflCount.Models.enumStatus.Unhandle){
        using (Html.BeginForm("Assign","Schedule",new {id=Model.ID},FormMethod.Post,null)) {
            <input class="right-within-handler-button" value="下派施工单" type="submit"/>
        }
    }
        
    @Html.Partial("_DetailPartial")

</fieldset>
<div class="left-outof-table">
    @Html.ActionLink("修改", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("返回施工单列表", "Index", new { id=Model.OrderId })
</div>
