@model IEnumerable<ZdflCount.Models.Schedules>

@{
    ViewBag.Title = "施工单列表";
}

<h2>@ViewBag.Title</h2>

<div class="left-outof-table">        
    当前订单编号：@ViewData["OrderNumber"]    
</div>
    <div class="right-outof-table">
        @Html.ActionLink("创建施工单", "Create",new {id=ViewData["OrderId"]})
    </div>
<table>
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatePersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishCount)
        </th>
        <th>操作</th>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLastUpdate)
        </td>
        <td>
            @Html.DisplayEnumDescription("enumOrderStatus",(int)item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdatePersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishCount)
        </td>
        <td>
            @Html.ActionLink("修改", "Edit", new { id=item.ID }) |
            @Html.ActionLink("查看详情", "Details", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div class="left-outof-table">
    @Html.ActionLink("返回订单列表", "Index", "Order" )
</div>