@model IEnumerable<ZdflCount.Models.StaffInfo>

@{
    ViewBag.Title = "员工列表";
}

<h2>工厂员工信息列表</h2>   
<div class="left-outof-table">
    @using (Html.BeginForm("UploadStaffInfo", "Staff", FormMethod.Post, new { enctype="multipart/form-data"}))
    {
        <input type="file" value="上传员工信息" name="excelFileName",
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
        <input type="submit" value="批量导入员工信息" />
    }
</div>
<div class="beside-upload-file">
    @Html.ActionLink("（下载模版）", "DownloadTemplate")
</div>
<div class="error-message">@ViewData["error"]</div>
<div class="right-outof-table">
    @Html.ActionLink("新增员工", "Create")
</div>
<table border="1"  width="100%" > 
    <thead>   
        <th>@Html.DisplayNameFor(model => model.Name)</th>   
        <th>@Html.DisplayNameFor(model => model.Sex)</th>
        <th>@Html.DisplayNameFor(model => model.DeptName)</th>
        <th>@Html.DisplayNameFor(model => model.Position)</th> 
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <th>@Html.DisplayNameFor(model => model.telPhone)</th>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
        <th>@Html.DisplayNameFor(model => model.JoinInDate)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
        <th>操作</th>

    </thead>   
    @foreach (var item in Model) 
    {
         <tr>  
             <td>@Html.DisplayFor(modelItem => item.Name)</td> 
             <td>@Html.DisplayFor(modelItem => item.Sex)</td> 
             <td>@Html.DisplayFor(modelItem => item.DeptName)</td> 
             <td>@Html.DisplayFor(modelItem => item.Position)</td> 
             <td>@Html.DisplayFor(modelItem => item.Phone)</td> 
             <td>@Html.DisplayFor(modelItem => item.telPhone)</td> 
             <td>@Html.DisplayFor(modelItem => item.Address)</td> 
             <td>@Html.DisplayFor(modelItem => item.JoinInDate)</td> 
             <td>@Html.DisplayEnumDescription("Models.enumStaffStatus",(int)item.Status)</td> 
             <td>
                @Html.ActionLink("查看详情", "Detail", new { id=item.ID }) |
                @Html.ActionLink("修改", "Edit", new { id=item.ID }) |
                @Html.ActionLink("删除", "Delete", new { id=item.ID })
             </td>
         </tr>   
    }                     
</table>

@section Scripts {
    @Scripts.Render("~/alertWarnning")
}