@{
    ViewBag.Title = "主页";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title - </h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                左侧为订单信息，右侧为生产情况。
            </p>
        </div>
    </section>
}
<h3>下面是系统基本功能:</h3>
<ol class="round">
    <li class="one">
        <h5>订单信息</h5>
         @Html.ActionLink("订单列表", "Index", "Order")
    </li>
    
    <li class="two">
        <h5>信息管理</h5>
        @Html.ActionLink("员工信息", "Index", "Manage")
        <br />
        @Html.ActionLink("机台信息", "Index", "Manage")
    </li>
    
    <li class="three">
        <h5>数据统计</h5>
        生产情况分析
    </li>
</ol>
