@{
    ViewBag.Title = "主页";
    var itemClassName = "home-li-a-item";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title - </h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>系统功能索引:</h3>
<ol class="round">
    <li class="one">
        <h5 class="home-li-head-item">订单信息</h5>
         @Html.ActionLink("订单列表", "Index", "Order",null, new {@class = itemClassName })
    </li>
    
    <li class="two">
        <h5 class="home-li-head-item">信息管理</h5>
        @Html.ActionLink("员工信息管理", "Index", "Staff",null, new {@class = itemClassName })       
        @Html.ActionLink("员工权限管理", "RoleIndex", "Staff",null, new {@class = itemClassName })
    </li>
    
    <li class="three">
        <h5 class="home-li-head-item">数据统计</h5>
        @Html.ActionLink("统计信息", "Statistics", "Manage",null, new {@class = itemClassName })
    </li>

    <li class="four">
        <h5 class="home-li-head-item">工厂基础设施</h5>
        @Html.ActionLink("设备信息", "Machines", "Manage",null, new {@class = itemClassName })
        @Html.ActionLink("车间信息", "Rooms", "Manage",null, new {@class = itemClassName })
    </li>
    <li class="five">
         <h5 class="home-li-head-item">状态监控</h5>
        @Html.ActionLink("系统监控", "Index", "Manage",null, new {@class = itemClassName })
        @Html.ActionLink("设备监控", "MachineStatus", "Manage",null, new {@class = itemClassName })

    </li>
</ol>
